<footer>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="index" class="navbar-brand">Home</a>
                <a href="index" class="navbar-brand">Products</a>
                <a href="index" class="navbar-brand">Cart</a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Contact</a></li>
                    <li><a href="/">About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</footer>

