<!DOCTYPE html>

<html>

<head>
    <link rel="icon" type="image/png" href="img/logo2.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d520c148c3.js" crossorigin="anonymous"></script>
    <title>Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><span class="navbar-brand">Market</a>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="signUp" class=""><span class="glyphicon glyphicon-user"> SignUp</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row row_style">
                <div class=" col-lg-6 col-lg-offset-3 ">
                    <div class="panel center">
                        <div class="panel-body">
                            <div class="panel-heading">
                                <h2>Reset password</h2>
                            </div>
                            <form class="center" action="/changePassword/<%= token %>" method="POST" id="form">
                                <div id="passwordGroup">
                                    <div class="form-group">
                                        <b style="width: 100%; padding-right: 420px;">New password</b>
                                        <input type="password" class="form-control settingsInput password"
                                            placeholder="New Password" name="password" id="newPassword">
                                        <i class="formulario__validacion-mid fas"></i>
                                    </div>
                                    <p class="formInputError">Make sure that your password be at least 6 characters long
                                        including a number and an uppercase letter.</p>
                                </div>
                                <div id="confirm_passwordGroup">
                                    <div class="form-group">
                                        <b style="width: 100%; padding-right: 397px;">Confirm password</b>
                                        <input type="password" class="form-control settingsInput confirm_password"
                                            placeholder="Confirm Password" name="confirm_password"
                                            id="confirmNewPassword">
                                        <i class="formulario__validacion-mid fas"></i>
                                    </div>
                                    <p id="confirm_password" class="formInputError">Make sure that both passwords match
                                    </p>
                                </div>
                                <button class="btn btn-primary" id="settingsSaveBtn">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") %>
        <script>
            const form = document.getElementById( "form" );
            const submitBtn = document.getElementById( "settingsSaveBtn" );
            const inputs = document.querySelectorAll( ".settingsInput" );

            const expresiones = {
                password: /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,50}$/
            };

            fields = {
                password: false,
                confirmPassword: false
            }

            submitBtn.disabled = true;

            const validateForm = ( e ) => {
                switch ( e.target.name ) {
                    case 'password':
                        validateField( expresiones.password, e.target, 'password' );
                        confirmPassword();
                        break;
                    case 'confirm_password':
                        confirmPassword();
                        break;
                }
                if ( fields.password && fields.confirmPassword == true ) {
                    submitBtn.disabled = false;
                } else {
                    submitBtn.disabled = true;
                }
            }

            const validateField = ( expresion, input, field ) => {
                if ( expresion.test( input.value ) ) {
                    document.getElementById( `${field}Group` ).classList.remove( 'incorrectForm' );
                    document.getElementById( `${field}Group` ).classList.add( 'correctForm' );
                    document.querySelector( `#${field}Group i` ).classList.add( 'fa-circle-check' );
                    document.querySelector( `#${field}Group i` ).classList.remove( 'fa-times-circle' );
                    if ( field !== 'name' && field !== 'surname' ) {
                        document.querySelector( `#${field}Group .formInputError` ).classList.remove( 'formInputErrorActive' );
                    }
                    fields[field] = true;
                } else {
                    document.getElementById( `${field}Group` ).classList.add( 'incorrectForm' );
                    document.getElementById( `${field}Group` ).classList.remove( 'correctForm' );
                    document.querySelector( `#${field}Group i` ).classList.remove( 'fa-circle-check' );
                    document.querySelector( `#${field}Group i` ).classList.add( 'fa-times-circle' );
                    document.querySelector( `#${field}Group .formInputError` ).classList.add( 'formInputErrorActive' );
                    fields[field] = false;
                }
                if ( input.value < 1 ) {
                    document.getElementById( `${field}Group` ).classList.remove( 'correctForm' );
                    document.getElementById( `${field}Group` ).classList.remove( 'incorrectForm' );
                    document.querySelector( `#${field}Group i` ).classList.remove( 'fa-times-circle' );
                    document.querySelector( `#${field}Group i` ).classList.remove( 'fa-circle-check' );
                    document.querySelector( `#${field}Group .formInputError` ).classList.remove( 'formInputErrorActive' );
                    fields[field] = false;
                }
            }

            const confirmPassword = () => {
                const password = document.getElementsByClassName( "password" );
                const confirm_password = document.getElementsByClassName( "confirm_password" );

                if ( password[0].value.length > 0 ) {
                    if ( password[0].value !== confirm_password[0].value ) {
                        document.getElementById( `confirm_passwordGroup` ).classList.add( 'incorrectForm' );
                        document.getElementById( `confirm_passwordGroup` ).classList.remove( 'correctForm' );
                        document.querySelector( `#confirm_passwordGroup i` ).classList.remove( 'fa-circle-check' );
                        document.querySelector( `#confirm_passwordGroup i` ).classList.add( 'fa-times-circle' );
                        document.querySelector( `#confirm_passwordGroup .formInputError` ).classList.add( 'formInputErrorActive' );
                        fields['confirmPassword'] = false;
                    } else if ( password[0].value == confirm_password[0].value ) {
                        document.getElementById( `confirm_passwordGroup` ).classList.remove( 'incorrectForm' );
                        document.getElementById( `confirm_passwordGroup` ).classList.add( 'correctForm' );
                        document.querySelector( `#confirm_passwordGroup i` ).classList.add( 'fa-circle-check' );
                        document.querySelector( `#confirm_passwordGroup i` ).classList.remove( 'fa-times-circle' );
                        document.querySelector( `#confirm_passwordGroup .formInputError` ).classList.remove( 'formInputErrorActive' );
                        fields['confirmPassword'] = true;
                    }
                } else {
                    document.getElementById( `confirm_passwordGroup` ).classList.remove( 'correctForm' );
                    document.getElementById( `confirm_passwordGroup` ).classList.remove( 'incorrectForm' );
                    document.querySelector( `#confirm_passwordGroup i` ).classList.remove( 'fa-times-circle' );
                    document.querySelector( `#confirm_passwordGroup i` ).classList.remove( 'fa-circle-check' );
                    document.querySelector( `#confirm_passwordGroup .formInputError` ).classList.remove( 'formInputErrorActive' );
                    fields['confirmPassword'] = false;
                }
            }

            inputs.forEach( ( input ) => {
                input.addEventListener( "keyup", validateForm );
                input.addEventListener( "blur", validateForm );
                input.addEventListener( "change", validateForm );
            } );
        </script>
</body>
</html>