<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Market</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <%- include("partials/header") %>
    <main>
        <div class="container">
            <div class="row row_style">
                <div class="col-md-4 col-md-offset-4">
                    <form action="/updateAccount" method="POST" id="formSettings">
                        <p>
                            <h4>Change Password</h4>
                        </p>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Old Password" name="oldPassword">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password" name="newPassword">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm New Password" name="confirmNewPassword">
                        </div>
                        <button class="btn btn-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") %>
    <script src="./market.js"></script>
</body>

</html>