
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.head_logo{
    height: 30px;
    width: 30px;
    margin-right: 1em;
    margin-bottom: 3em;
}
.nav_text{
    padding-bottom: .5em;
}
.inline{
    display: inline;
    text-align: center;
    color: white;
}
.transparent{
    background: transparent;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
}
.index{
    font-size: 500;
}
nav{
    color: white;
    height: fit-content;
}
nav li{
    font-size: medium;
    color: white;
}
.navbar-brand{
    font-size: 700;
    font-weight: bold;
    color: white;
    font-family: 'Crimson Text', serif;
}
.jumbotron{
    /* background: url(img/logo.png) no-repeat center ;  */
    /* background-color: rgba(22, 21, 21, 0.911);
    background-size: cover; */
    background: none;
    color: black;
}
.navbar-header{
    font-size: large;
}
.panel-footer{
    margin-top: 2em;
}
.center{
    margin: 1em auto;
    text-align: center;
}

 .banner-image{ 
    padding-top: 75px;    
    padding-bottom: 50px; 
    text-align: center;     
    color: #f8f8f8; 
    background: url(../img/intro-bg.jpg) no-repeat center ; 
    background-size: cover;
}

.banner-content{
    border-radius: 10px;
    padding-top: 3%; 
    padding-bottom: 3%; 
    margin: 6% auto;
    background-color: rgba(0, 0, 0, 0.75); 
    max-width: 660px;
    overflow: hidden;
}

.thumbnail img{
    max-height: 150px; 
}
main {
    min-height: 100vh;
}

footer{
    padding: 10px 0; 
    background-color: #101010; 
    color:#9d9d9d; 
    bottom: 0; 
    width: 100%; }
.row_style{margin-top: 70px;
}
 h2{font-weight: bolder; 
 }
 .jumbotron_style{
     margin-top: 70px;
     text-align: center;
 }
 .table_style{
     margin-top: 70px;
 }
  h4{font-weight: bolder;
  }
 .container_style{margin-top: 80px;
 }

 .add-to-cart {
    margin: 0;
    background-color: #337ab7;
    color: #ffffff;
    /* border: 1px solid cyan; */
    border-radius: 4px;
    outline: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 }
 .padding-20 {
     padding: 20px;
 }
 .contact ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1em;
 }
 .contIcon{
     height: 10%;
     width: 10%;
     max-height: 40px;
     max-width: 40px;
 }
 .table-responsive{
     margin: 10em auto;
 }
 .table-responsive h1{
     margin: .5em auto;
     text-align: center;
     font-weight: bold;
 }
 .success{
     margin: 10em auto;
}

#loginBtn {
    display: inline-block;
    margin-bottom: 0.5em;
}

#registerSubmitBtn{
    display: inline-block;
    margin-bottom: 1em;
}

.panel-footer {
    margin-top: 0em
}

#displayNone {
    display: none
}
#changePassword {
    margin-top: 2em
}
#changePassword {
    margin-top: 0.2em
}
#deliverGroup {
    margin-top: 4.5em
}
#shipmentDescription {
    height: 4em
}
#shipmentDescription::placeholder {
    text-align: left;
}

  /* ? SHOPPING CART */
  .img-responsive {
      display: inline-block;
      max-width:20%;
      max-height:20%;
  }
  .total {
    height: 100%;
    line-height: 100%;
    text-align: center;
    border: 3px solid black;
  }
  #total {
    height: 100%;
    line-height: 100%;
    text-align: center;
  }
  .shoppingCartItemQuantity {
      margin-left: 13%;
      width: 70%;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #eee;
  }
  #price-table {
      text-align: center;
  }
  #amount-table {
      text-align: center;
  }
  .cart-price {
    text-align: center;
  }
  .total {
    text-align: center;
  }
  #total-btn {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
  }
  #totalTrash {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
  }

  /* form */
.password, .confirm_password{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.formInput:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.settingsInput:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.shipmentInput:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__validacion-estado {
    position: absolute;
	margin-top: -1.7em;
	margin-left: 17.5em;
}
.formulario__validacion-pass {
    position: absolute;
	margin-top: -1.7em;
	margin-left: 38em;
}
.formulario__validacion-info {
    position: absolute;
	margin-top: -1.7em;
	margin-left: 31em;
}
.formulario__validacion-mid {
    position: absolute;
	margin-top: -1.7em;
	margin-left: 17em;
}
.formInputError {
    color:#bb2929;
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formInputErrorActive {
	display: block;
    margin-top: -1em;
}

  /* validaciones formulario registro */
.correctForm .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}
.correctForm .formulario__validacion-pass {
	color: #1ed12d;
	opacity: 1;
}
.correctForm .formulario__validacion-info {
	color: #1ed12d;
	opacity: 1;
}
.correctForm .formulario__validacion-mid {
	color: #1ed12d;
	opacity: 1;
}
.incorrectForm .formulario__validacion-estado {
    color: #bb2929;
	opacity: 1;
}
.incorrectForm .formulario__validacion-pass {
    color: #bb2929;
	opacity: 1;
}
.incorrectForm .formulario__validacion-info {
    color: #bb2929;
	opacity: 1;
}
.incorrectForm .formulario__validacion-mid {
    color: #bb2929;
	opacity: 1;
}
.incorrectForm .formInput {
    border: 3px solid #bb2929;
}
.incorrectForm .settingsInput {
    border: 3px solid #bb2929;
}
.incorrectForm .shipmentInput {
    border: 3px solid #bb2929;
}
#confirm_password {
   margin-bottom: 12px
}
#completeFields {
    margin-bottom: 5px
}
#changePasswordError {
    margin-bottom: 5px
}
#userExists {
    color:#bb2929;
	font-size: 12px;
	margin-bottom: 0;
}
  